@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

* {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}